<launch>
	<param name="/use_sim_time" value="true"/>

	<node name="listener" pkg="tf_listener" type="tf_listener.py" args="$(arg output)" />
	<node name="slam" pkg="gmapping" type="slam_gmapping" args="_xmin:=-50 _ymin:=-50 _ymax:=50 _xmax:=50 _angularUpdate:=5.0 _linearUpdate:=5.0 _map_update_interval:=5.0 _particles:=10 scan:=base_scan" />
	<node name="player" pkg="rosbag" type="play" args="--clock $(arg file)"/>

	<node name="rviz" pkg="rviz" type="rviz"/>
	
</launch>