<launch>

	<!-- This file launches:
	 	* Stage
	 	* Explorer
	 	* rosbag record to record the /pose, /ground_pose, /odom and /scan topics in a bag file
	 	* tf listener to write the gmapping tf
	 	* gmapping
	 	* RVIZ
	 	* optitrack node
	 	Params:
	 		-worldfile: the world file for stage
	 		-bag: the name of the bag file to write the ground truth from stage
	 		-output: the name of the file to write the gmapping log
	 	 -->

	<!-- Some general parameters -->
	<param name="use_sim_time" value="false" />


	<!-- rosserial launch file for nova core -->
	<include file="$(find rsbb_mocap_optitrack)/launch/mocap.launch"/>

	<!-- Record ground truth values -->
	<node name="recorder" pkg="rosbag" type="record" args="--lz4 -O $(arg bag) /pose /ground_pose /odom /scan"/>

	<!-- Write log odom gmapping for metricevaluator -->
	<node name="listener" pkg="tf_listener" type="tf_listener.py" args="$(arg outputfile)" />

	<!-- RVIZ to view the visualization -->
	<node name="RVIZ" pkg="rviz" type="rviz" args=" -d /home/valerio/slampbenchmarking/launch/custom.rviz" />

	<!-- Start exploration of ambient -->

	<!-- Start Mapper to generate map from laser scans -->
	<node name="Mapper" pkg="gmapping" type="slam_gmapping" args="_xmin:=-20 _ymin:=-20 _ymax:=20
     _xmax:=20 _ogain:=3.0 _minimumScore:=0 _angularUpdate:=0.25 _linearUpdate:=1.0
     _map_update_interval:=5.0 _temporal_update:=5.0 _odom_frame:=odom _base_frame:=laser_base _particles:=40 scan:=scan
     _srr:=0.01 _srt:=0.02 _str:=0.01 _stt:=0.02 _delta:=0.05 _maxUrange:=30 _maxRange:=60" />
	<arg name="robot_name" default="robocom" />
    <arg name="robot_prefix" default=""/>
    <arg name="log_path" />
    <arg name="output" default="screen"/>
    <arg name="frontier_selection" default="5"/>

    <!-- SIMULATION -->
    <node pkg="explorer" type="explorer" name="explorer" output="$(arg output)" respawn="true" clear_params="true">

	<!-- simulation parameters -->
        <param name="log_path" value="$(arg log_path)" />
	<param name="robot_name" value="$(arg robot_name)" />

	<!-- move_base -->
	<param name="base_link" value="/base_link" />
	<param name="move_base_frame" value="/map" />

	<!-- exploration parameters -->
	<param name="frontier_selection" value="$(arg frontier_selection)" />
	<rosparam file="$(find explorer)/param/robocom/robocom_costmap_common_params.yaml" command="load" ns="global_costmap" />
	<rosparam file="$(find explorer)/param/robocom/robocom_costmap_common_params.yaml" command="load" ns="local_costmap" />
	<rosparam file="$(find explorer)/param/robocom/robocom_local_costmap_params.yaml" command="load" />
	<rosparam file="$(find explorer)/param/robocom/robocom_global_costmap_params.yaml" command="load" />

    	<remap from="/$(arg robot_name)/$(arg robot_name)/map" to="/$(arg robot_name)/map" />
    </node>

</launch>
