<launch>

	<!-- This file launches:
	 	* rosbag record to record the /base_pose_ground_truth, /odom and /base_scan topics in a bag file
	 	* tf listener to write the gmapping tf
	 	* gmapping
	 	* RVIZ
	 		-srcfile: the name of the bag file to replay
	 		-bag: the name of the bag file to write the ground truth from stage
	 		-output: the name of the file to write the gmapping log
	 	 -->

	<!-- Some general parameters -->
	<param name="use_sim_time" value="true" />

	<arg name="srcfile" default="my_file_1" />
	<node pkg="rosbag" type="play" name="player" output="screen" args="-q --clock -r 1.00 $(arg srcfile)"/>

	<!-- RVIZ to view the visualization -->
	<node name="RVIZ" pkg="rviz" type="rviz" args=" -d /home/valerio/slampbenchmarking/launch/custom.rviz" />

	<!-- Record ground truth values -->
	<node name="recorder" pkg="rosbag" type="record" args="--lz4 -O $(arg bag) /base_pose_ground_truth /odom /base_scan"/>

	<!-- Write log odom gmapping for metricevaluator -->
	<node name="listener" pkg="tf_listener" type="tf_listener.py" args="$(arg outputfile)" />

	<!-- Start exploration of ambient -->

	<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="-1.783 -0.772 0.569 0.041 0.021 -0.837 0.545 /world /map 100" /> 

	<!-- Start Mapper to generate map from laser scans -->
	<node name="Mapper" pkg="gmapping" type="slam_gmapping" args="_xmin:=-100 _ymin:=-100 _ymax:=100
     _xmax:=100 _ogain:=3.0 _minimumScore:=0 _angularUpdate:=0.25 _linearUpdate:=1.0
     _map_update_interval:=5.0 _temporal_update:=5.0 _odom_frame:=odom _particles:=40 _base_frame:=base_link scan:=base_scan
     _srr:=0.01 _srt:=0.02 _str:=0.01 _stt:=0.02 _delta:=0.05 _maxUrange:=30 _maxRange:=60" />

</launch>
