TODO THIS SHOULD BE CHANGED

<launch>
	<arg name="laser" default="1" />
	<arg name="leftLaserID" default="H0611154"/>
	<arg name="rightLaserID" default="H0611158"/>
	
-->

	<!-- left Hokuyo node -->
	<node pkg="hokuyo_node" type="hokuyo_node" name="left_hokuyo_node" if="$(arg laser)">
		<param name="port" type="string" value="/dev/sensors/hokuyo_$(arg leftLaserID)" />
		<param name="frame_id" type="string" value="left_hokuyo_frame" />
		<param name="min_ang" type="double" value="-2.094" />
		<param name="max_ang" type="double" value="2.094" />
		<remap from="scan" to="scan_left" />
 	</node>

	<!-- right Hokuyo node -->
	<node pkg="hokuyo_node" type="hokuyo_node" name="right_hokuyo_node" if="$(arg laser)">
		<param name="port" type="string" value="/dev/sensors/hokuyo_$(arg rightLaserID)" />
		<param name="frame_id" type="string" value="right_hokuyo_frame" />
		<param name="min_ang" type="double" value="-2.094" />
		<param name="max_ang" type="double" value="2.094" />
		<remap from="scan" to="scan_right" />
 	</node>

	<!-- laser frames static transforms -->
<!--	<node pkg="tf"
		type="static_transform_publisher"
		name="map_base_frame_st"
		args="0 0 0 0 0 0 map base_frame 100"
	/>
-->

	<!-- laser frames static transforms -->
	<node pkg="tf"
		type="static_transform_publisher"
		name="left_hokuyo_frame_st"
		args="0.05 +0.1 0.312 1.0471975512 0 0 base_link left_hokuyo_frame 100"
	/>
	<node pkg="tf"
		type="static_transform_publisher"
		name="right_hokuyo_frame_st"
		args="0.05 -0.1 0.312 -1.0471975512 0 0 base_link right_hokuyo_frame 100"
	/>
	
</launch> 
